/* SCROLL */
::-webkit-scrollbar
  -webkit-appearance: none

::-webkit-scrollbar:vertical
  width: 10px

::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button
  display: none

::-webkit-scrollbar:horizontal
  height: 10px

::-webkit-scrollbar-thumb 
  background-color: #26007e
  border-radius: 20px
  border: 2px solid #f1f2f3

::-webkit-scrollbar-thumb:hover
  background-color: #3f3f3f

::-webkit-scrollbar-track
  border-radius: 10px
/* END SCROLL */

/* INPUT NUMBER OFF */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

input[type="number"]
  -moz-appearance: textfield
/* END INPUT NUMBER OFF*/

*
    margin: 0
    box-sizing: border-box
    font-family: 'DM Sans', sans-serif

html
    font-size: 10px

.material-icons-outlined
    vertical-align: middle
    font-size: 10px
    user-select: none
